*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns:300px 1fr;
}
#header{
    grid-area: 1/2/2/3;
    background-color: white;
}
#sidebar{
    grid-area: 1/1/3/2;
    background-color: aqua;
}
#header > .top-header{
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    /* align-items: center; */
}
#notifications{
    display: flex;
    align-items: center;
}
#notifications div{
    flex:1;
}
#notifications div:first-child{
    text-align: end;
}
#notifications div:first-child + div{
    text-align: center;
}
#notifications #profile-name{
    flex: 2;
}
input[type="search"]{
    width: 75%;
    height: 25px;
    border-radius: 10px;
    border: 0;
    background-color: gainsboro;
}
#profile-pic img{
    width: 50%;
    border-radius: 50%;
    vertical-align: middle;
}
#search{
    display: flex;
    align-items: center;
    gap: 20px;
}


#header > .bottom-header{
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    align-items: center;
}
.bottom-header .pic img{
    width: 75%;
    border-radius: 50%;
}
.greeting p{
    margin: 5px 0;
}
ul{
    list-style: none;
}
.topics ul{
    display: flex;
    justify-content: space-between;
    
}
.topics ul li{
    background-color: rgb(21, 157, 203);
    padding: 10px 25px;
    border-radius: 20px;
    margin: 0 15px;
}
#main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
    background-color: gainsboro;
}
#main > .trending{
    grid-area: 2/2/3/3;
}
.projects h3{
    margin-left: 25px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-bottom: 15px;
    /* gap: 15px; */
}
.card{
    border-left: 8px solid orange;
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 25px 25px 15px;
    font-size: 0.8rem;
}
.card h4{
    margin: 0;
}
.card p{
    margin: 5px 0 10px 0;
    padding-right: 30px;
}
[title="Share"] svg{
    transform: rotate(270deg);
}
.card-icons{
    text-align: end;
}
.card-icons span{
    margin: 5px;
}
.card-icons svg{
    width: 1rem !important;
}
.anons{
    background-color: #fff;
    margin-right: 20px;
    padding: 25px;
    /* max-height: 60vh; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 0.9rem;
}
.announ{
/* height: 100px; */
overflow: auto;

}
.announ:first-child ~ .announ{
    border-top: 1px solid black;
}
.announ h5,.announ p{
    margin: 7px 0 0 0;
}
.announ p{
    /* max-width: 250px; */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tweets{
    /* margin-top: 30px; */
    background-color: #fff;
    margin-right: 20px;
    padding: 10px 20px;
    /* max-height: 60vh; */
    border-radius: 5px;
    font-size: 0.75rem;
    margin-bottom: 15px;
}
.trending img{
    width: 40px;
    border-radius: 50%;
}
.tweet{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.tweet-info{
    margin-left: 10px;
    
}
#sidebar span{
    vertical-align: middle;
    margin-right: 10px;
}
.top-nav li, .bottom-nav li{
    margin: 20px;
}
.top-nav{
    margin: 30px 0 50px 0;
}
#sidebar h1, #sidebar ul{
    padding: 0;
    margin-left: 30px;
}