*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns:300px 1fr;
}
#header{
    grid-area: 1/2/2/3;
    background-color: antiquewhite;
}
#sidebar{
    grid-area: 1/1/3/2;
    background-color: aqua;
}
#header > .top-header{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr;
}